doctype html
html(lang="en")
    head
        title Register
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
        link(rel="shortcut icon", href="images/ai.png")
        script(src="javascripts/jquery1.8.0.min.js", defer="defer")
        script(src="javascripts/validator.js", defer="defer")
        script(src="javascripts/register.js", defer="defer")
    
    body
        div#left-part
        div#right-part
        div.middle-part
            
            input(type="button", name="SIGNIN", value="sign in")
            
            h1 Register
            form
                label(for="username-input") Username:
                input(id="username-input", type="text", name="username")

                label(for="studentid-input") StudentId:
                input(id="studentid-input", type="text", name="studentid")

                label(for="phone-input") Phone:
                input(id="phone-input", type="text", name="phone")

                label(for="email-input") E-mail:
                input(id="email-input", type="text", name="email")

                label(for="password-input") Password:
                input(id="password-input", type="password", name="password")

                label(for="confirm-input") Confirm:
                input(id="confirm-input", type="password", name="confirm")  

                input(type="button", name="RESET", value="RESET")
                input(type="button", name="SUBMIT", value="SUBMIT")
            
            div#error-info
                p#username-error
                p#studentid-error
                p#phone-error
                p#email-error 
                p#password-error
                p#confirm-error

        img(src="images/ai.png", alt="ai", class="ai")

